.row {
  padding-left: 40px;
  padding-right: 40px;
}

h2 {
  font-size: 150%;
  padding-top: 15px;
}
.content-box {
  background-color: silver;
  
}
.content-box>p {
  padding: 15px;
}
li {
  background-color: silver;
  font-size: 20px;
}